﻿@model MeNotify.Models.ErrorModel
@{
    ViewBag.Title = "LogMe";
}

<hgroup class="title">
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div id="tabs">
        <ul>
            <li><a href="#tabWebService">Web Service Errors</a></li>
            <li><a href="#tabWindowsService">Windows Errors</a></li>
            <li><a href="#tabWeb">Web Errors</a></li>
            <li><a href="#tabAnalytics">Analytics</a></li>
        </ul>

        <div id="tabWebService">
            <div id="WebServiceErrors">
                <table id="tblJQGridWebService">
                </table>
                <div id="plistWebService"></div>

            </div>
        </div>
        <div id="tabWindowsService">
            <div id="WindowsServiceErrors">
                <table id="tblJQGridWindowsService">
                </table>
                <div id="plistWindowsService"></div>
            </div>
        </div>
        <div id="tabWeb">
            <div id="webErrors">
                <table id="tblJQGridWeb">
                </table>
                <div id="plistWeb"></div>
            </div>
        </div>
        <div id="tabAnalytics">
            <div>
                <div id="chartBar" style="height: 200px; width: 900px"></div>
                <div id="chartPie" style="float: left; height: 200px; width: 400px"></div>
                <div>
                    Total Windows Service Errors:<span id="windowsService"></span>
                    <br />
                    <br />
                    <br />
                    <br />

                    Total Web Service Errors:<span id="webService"></span>
                    <br />
                    <br />
                    <br />
                    <br />

                    Total WEB UI Errors:<span id="webUI"></span>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/Index")
    <script src="~/Scripts/jqplot/plugins/jqplot.pieRenderer.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->
}